* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

h1,
p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color_container {
  background-color: tomato;
  width: 300px;
  height: 150px;
  color: #fff;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: #000 solid 2px;
  border-radius: 15px;
}
